<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>Siperian Web Services</display-name>
	
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

  <ejb-ref id="ApiCallBean_Ref">
	 <ejb-ref-name>ejb/ApiCallBean</ejb-ref-name>
     <ejb-ref-type>Session</ejb-ref-type>
     <home>com.delos.cmx.server.api.ApiCallHome</home>
     <remote>com.delos.cmx.server.api.ApiCallRemote</remote>
  </ejb-ref>      

  <ejb-ref id="RequestEjb_Ref">
	 <ejb-ref-name>ejb/RequestEjb</ejb-ref-name>
     <ejb-ref-type>Session</ejb-ref-type>
     <home>com.siperian.sif.server.ejb.RequestHome</home>
     <remote>com.siperian.sif.server.ejb.RequestRemote</remote>
  </ejb-ref>      
</web-app>
